body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 1em;
    font-family: Montserrat Alternates, sans-serif;
    background-color: #f7e9c2;
}


.wrapper, header, form, footer{
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: black;
    color: white;
    justify-content: center;
}

.newsletterIntro {
    padding-bottom: 10px;
}

/* https://stackoverflow.com/questions/18917474/double-border-in-css-with-gap-in-the-middle
Credit: avrahamcool
*/
.doubleLine
{
    margin-top: 20px;
    border-top: 4px solid black;
    height: 2px;
    border-bottom: 2px solid black;
}

.wrapper {

    width: 90%;
    margin: auto;
}

.center-text {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    flex-grow: 1;
    font-size: 1.6em;
    padding: 0 0 10px;
}

h2, legend {
    font-size: 1.2em;
}


fieldset {
    border: none;
    width: 100%;
    margin: 20px 0 10px;
}

fieldset:first-child {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

legend {
    width: 100%;
    margin: 20px 0;
}

/* strong {
    display: block;
    border-top: 3px solid black;
    width: 100%;
    padding-top: 20px;
} */

label, input, select, textarea, footer, header {
    width: 100%;
}

label {
    display: inline-block;
    margin: 10px 0 5px;
}

input, select {
    border:none;
    border-radius: 5px;
    height: 2rem;
    margin-top: 50px;
}

/* https://css-tricks.com/almanac/selectors/p/placeholder/ */
::placeholder {
    text-align: right;
    padding-right: 5px;
} 

/* --- Removes the "spinner" from number in put fields so you can see the 'placeholder' for the phone field in firefox
https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
*/

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* https://css-tricks.com/almanac/properties/t/transition/ */
input:focus {
    transition: background-color 2s ease;
    background-color: darkslategray;
}


.inline {
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
}

.inline input {
    width: 20%;
}

#message {
    margin-top: 10px;
    height: 80px;
    border: none;
    border-radius: 5px;
}


input[type=submit] {
    background-color: #4adbad;
    border: none;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem; /* 16px x 1.2 = 19.2px */
    min-height: 50px;
  }

  footer {
      display: flex;
      justify-content: center;
  }
  
/* ============================= Media Query ============================= */

/* ======== Desktop ======== */

@media (min-width:768px) {

    .wrapper {
        width: 60%;
        margin: auto;
    }


    form label {
        width: 30%;
    }
    
    #textAreaLabel{
        min-width: 100%;
    }

    form input, form select {
        width: 68%;
    }

    .inline {
        display: flex;
        justify-content: flex-start;
    }

    form fieldset {
        width: 100%;
    }

    #message {
        width: 100%;
        margin: auto;
    }

    input[type=submit] {
        width: 100%;
        margin: 20px auto;
    }
  
}




